.navigation {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.navigation a {
    display: flex;
        align-items: center;
        flex: 1 1 auto;
    color: #841a1a;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;} 