:root {
    --color: white;
    --background-color: blue;
}

header nav {
    display: flex;
    color: rgb(0, 0, 0);
    flex: 1 1 100px;
    background-color: coral;
    align-items: center;
}

header nav a {
    display: flex;
    flex: 1 1 auto;
    width: auto;
    padding: 1.3rem;
    text-decoration: none;
    justify-content: center;
}

body main h2 {
    margin-bottom: 580px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

nav ul li a:hover {
    color: rgb(80, 255, 165);
    transform: translateY(-2px);
}

.hamburger {
    display: none;
    /* hidden by default */
    font-size: 2rem;
    background: none;
    border: none;
    color: rgb(162, 19, 19);
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    text-align: right;
    justify-content: right;
    justify-items: center;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(10, 9, 9);
    font-weight: bold;
}

h3 {
    display: grid;
    position: absolute;
    grid-auto-flow: column;
    color: rgb(250, 158, 21);
    align-items: center;
    margin-bottom: 400px;
    margin-left: 0;
}

.card {
    height: 300px;
    width: 350px;
    background-color: black;
    box-shadow: 0 0 30px #f5f1f1;
    margin: 20px;
    border-radius: 5px;
}

.cards {
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-left: 110px;
    gap: 10px;
}


p {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px 100px 100px;
    margin: 0px;
    justify-content: center;
    display: inline-block;
    color: white;
    white-space: nowrap;
}

img {
    position: absolute;
    width: 200px;
    height: 150px;
    margin-top: 80px;
    margin-left: -30px;
    /**margin: 110px 0px 0px -50px;*/
}

.pag {
color: black;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 1px;
    text-align: center;
}

body main div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 15px;
    gap: 17px;
}

